USE [master]
GO
/****** Object:  Database [WEB_DATA]    Script Date: Wednesday, 31, 10, 2018 09:37:35 ******/
CREATE DATABASE [WEB_DATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEB_DATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WEB_DATA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WEB_DATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WEB_DATA_1.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEB_DATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEB_DATA]
GO
USE [WEB_DATA]
GO
/****** Object:  Table [dbo].[DM_DONHANG]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DONHANG](
	[MADONHANG] [nvarchar](100) NOT NULL,
	[MAKHACHHANG] [nvarchar](100) NULL,
	[NGAYLAP] [datetime] NULL,
	[MATRANGTHAI] [nvarchar](100) NULL,
	[MAXACNHAN] [nvarchar](100) NULL,
	[TONGTIEN] [float] NULL,
	[MAHINHTHUCTHANHTOAN] [nvarchar](100) NULL,
	[PHISHIP] [float] NULL,
	[MADIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_DONHANG_CHITIET]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DONHANG_CHITIET](
	[MADONHANG] [nvarchar](100) NOT NULL,
	[MACHITIETDONHANG] [nvarchar](100) NOT NULL,
	[MASANPHAM] [nvarchar](100) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[SIZE] [nvarchar](100) NOT NULL,
	[MAU] [nvarchar](100) NOT NULL,
	[DUNGTICH] [nvarchar](100) NULL,
	[LOAI] [nvarchar](100) NULL,
	[SALE] [float] NULL,
	[MUIHUONG] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_DONHANG_CHITIET_1] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MASANPHAM] ASC,
	[SIZE] ASC,
	[MAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_DONHANG_HINHTHUCTHANHTOAN]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DONHANG_HINHTHUCTHANHTOAN](
	[MAHINHTHUCTHANHTOAN] [nvarchar](100) NOT NULL,
	[TENHINHTHUCTHANHTOAN] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_DONHANG_HINHTHUCTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MAHINHTHUCTHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_DONHANG_TRANGTHAI]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DONHANG_TRANGTHAI](
	[MATRANGTHAI] [nvarchar](100) NOT NULL,
	[TENTRANGTHAI] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_DONHANG_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KHACHHANG]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHACHHANG](
	[MAKHACHHANG] [nvarchar](100) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[SODIENTHOAI] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[TENDANGNHAP] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KHACHHANG_DIACHI]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHACHHANG_DIACHI](
	[MADIACHI] [nvarchar](100) NOT NULL,
	[MAKHACHHANG] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACDINH] [bit] NULL,
	[TENNGUOINHAN] [nvarchar](100) NULL,
	[SDTNGUOINHAN] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_KHACHHANG_DIACHI] PRIMARY KEY CLUSTERED 
(
	[MADIACHI] ASC,
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KM]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KM](
	[MAKHUYENMAI] [nvarchar](100) NOT NULL,
	[TENKHUYENMAI] [nvarchar](100) NULL,
	[MAHINHTHUCKHUYENMAI] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_KM] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KM_CT]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KM_CT](
	[MAKHUYENMAI] [nvarchar](100) NOT NULL,
	[MACHITIETKHUYENMAI] [nvarchar](100) NOT NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
	[PHANTRAM] [float] NULL,
	[MANHOM] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_KM_CT] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC,
	[MACHITIETKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_KM_HINHTHUC]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KM_HINHTHUC](
	[MAHINHTHUCKHUYENMAI] [nvarchar](100) NOT NULL,
	[TENHINHTHUCKHUYENMAI] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_KM_HINHTHUC] PRIMARY KEY CLUSTERED 
(
	[MAHINHTHUCKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_SANPHAM]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_SANPHAM](
	[MASANPHAM] [nvarchar](100) NOT NULL,
	[MANHOM] [nvarchar](100) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[MATHUONGHIEU] [nvarchar](100) NULL,
	[MOTA] [nvarchar](500) NULL,
 CONSTRAINT [PK_DM_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_SANPHAM_CHITIET]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_SANPHAM_CHITIET](
	[MASANPHAM] [nvarchar](100) NOT NULL,
	[DONVITINH] [nvarchar](100) NULL,
	[GIA1] [float] NULL,
	[GIA2] [float] NULL,
	[SIZE] [nvarchar](100) NOT NULL,
	[MAU] [nvarchar](100) NOT NULL,
	[DUNGTICH] [nvarchar](100) NOT NULL,
	[LOAI] [nvarchar](100) NULL,
	[GIOITINH] [bit] NULL,
	[SALE] [float] NULL,
	[TENSANPHAM] [nvarchar](100) NOT NULL,
	[MUIHUONG] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_SANPHAM_CHITIET] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[SIZE] ASC,
	[MAU] ASC,
	[DUNGTICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_SANPHAM_NHOM]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_SANPHAM_NHOM](
	[MANHOM] [nvarchar](100) NOT NULL,
	[TENNHOM] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_NHOMSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_TAIKHOAN]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TAIKHOAN](
	[TENDANGNHAP] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[CHUCVU] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_THUONGHIEU]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_THUONGHIEU](
	[MATHUONGHIEU] [nvarchar](100) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](100) NULL,
 CONSTRAINT [PK_DM_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DM_DONHANG] ([MADONHANG], [MAKHACHHANG], [NGAYLAP], [MATRANGTHAI], [MAXACNHAN], [TONGTIEN], [MAHINHTHUCTHANHTOAN], [PHISHIP], [MADIACHI]) VALUES (N'201810311', N'KH_0000001', CAST(N'2018-10-31T09:24:04.630' AS DateTime), N'1', N'0', 1600000, N'1', NULL, N'[object HTMLInputElement]')
INSERT [dbo].[DM_DONHANG_CHITIET] ([MADONHANG], [MACHITIETDONHANG], [MASANPHAM], [TENSANPHAM], [SOLUONG], [DONGIA], [THANHTIEN], [SIZE], [MAU], [DUNGTICH], [LOAI], [SALE], [MUIHUONG]) VALUES (N'201810311', N'CT201810311', N'HH_0000004', N'Đồng hồ dây hồng', 1, 1600000, 1600000, N'S', N'Green', N'', N'', 0, N'')
INSERT [dbo].[DM_DONHANG_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (N'0', N'Đang đặt')
INSERT [dbo].[DM_DONHANG_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (N'1', N'Chờ xác nhận')
INSERT [dbo].[DM_DONHANG_TRANGTHAI] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (N'2', N'Đã xác nhận')
INSERT [dbo].[DM_KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SODIENTHOAI], [GIOITINH], [NGAYSINH], [EMAIL], [TENDANGNHAP]) VALUES (N'KH_0000001', N'admin', NULL, NULL, NULL, NULL, N'admin')
INSERT [dbo].[DM_KHACHHANG_DIACHI] ([MADIACHI], [MAKHACHHANG], [DIACHI], [MACDINH], [TENNGUOINHAN], [SDTNGUOINHAN]) VALUES (N'KH_0000001_1', N'KH_0000001', N'dwfqgqwge', 1, N'Nguyen Van a', N'01234567')
INSERT [dbo].[DM_SANPHAM] ([MASANPHAM], [MANHOM], [TENSANPHAM], [MATHUONGHIEU], [MOTA]) VALUES (N'HH_0000001', N'NHH_001', N'Đồng hồ dây hồng', N'TH_0001', N'asdasdas asjdias wiwiw duu whwhud ddjdoa daaiaidndkakd uaud auduh aauadhh uauhd')
INSERT [dbo].[DM_SANPHAM] ([MASANPHAM], [MANHOM], [TENSANPHAM], [MATHUONGHIEU], [MOTA]) VALUES (N'HH_0000002', N'NHH_001', N'Đồng hồ dây hồng', N'TH_0001', N'uhuhui gg hh 5454 de eerere rrrr ssdsds tttgththththth fff 4454f44 wwdwdwdw  hththth4 eefe r33 eeeee ')
INSERT [dbo].[DM_SANPHAM] ([MASANPHAM], [MANHOM], [TENSANPHAM], [MATHUONGHIEU], [MOTA]) VALUES (N'HH_0000003', N'NHH_001', N'Đồng hồ dây hồng', N'TH_0001', NULL)
INSERT [dbo].[DM_SANPHAM_CHITIET] ([MASANPHAM], [DONVITINH], [GIA1], [GIA2], [SIZE], [MAU], [DUNGTICH], [LOAI], [GIOITINH], [SALE], [TENSANPHAM], [MUIHUONG]) VALUES (N'HH_0000001', N'Cái', 1600000, 1200000, N'S', N'Pink', N'', N'1', 0, 0, N'Đồng hồ dây hồng', N'')
INSERT [dbo].[DM_SANPHAM_CHITIET] ([MASANPHAM], [DONVITINH], [GIA1], [GIA2], [SIZE], [MAU], [DUNGTICH], [LOAI], [GIOITINH], [SALE], [TENSANPHAM], [MUIHUONG]) VALUES (N'HH_0000002', N'Cái', 1300000, 1200000, N'M', N'Silver', N'', N'1', 1, 0, N'Đồng hồ dây hồng', N'')
INSERT [dbo].[DM_SANPHAM_CHITIET] ([MASANPHAM], [DONVITINH], [GIA1], [GIA2], [SIZE], [MAU], [DUNGTICH], [LOAI], [GIOITINH], [SALE], [TENSANPHAM], [MUIHUONG]) VALUES (N'HH_0000002', N'Cái', 1600000, 1200000, N'S', N'Black', N'', N'1', 1, 0, N'Đồng hồ dây hồng', N'')
INSERT [dbo].[DM_SANPHAM_NHOM] ([MANHOM], [TENNHOM]) VALUES (N'NHH_001', N'ĐỒNG HỒ')
INSERT [dbo].[DM_SANPHAM_NHOM] ([MANHOM], [TENNHOM]) VALUES (N'NHH_002', N'GIÀY DÉP')
INSERT [dbo].[DM_SANPHAM_NHOM] ([MANHOM], [TENNHOM]) VALUES (N'NHH_003', N'QUẦN ÁO')
INSERT [dbo].[DM_TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [CHUCVU]) VALUES (N'admin', N'123', N'ad')
INSERT [dbo].[DM_THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU]) VALUES (N'TH_0001', N'swatch')
/****** Object:  StoredProcedure [dbo].[SP_CHECKOUT]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHECKOUT]
	@flag int = null,
	@maKhach nvarchar(100) = null,
	@diaChi nvarchar(100) = null,
	@danhDauMacDinh bit = null,
	@maDiaChi nvarchar(100) = null,
	@tenNguoiNhan nvarchar(100) = null,
	@sdtNguoiNhan nvarchar(100) = null,
	@maDon nvarchar(100) = null
AS
BEGIN
	if(@flag = 1) --- get customer's address by customerCode
	begin
		select * from DM_KHACHHANG_DIACHI 
		where DM_KHACHHANG_DIACHI.MAKHACHHANG = @maKhach
	end

	if(@flag = 2) --- add new Address 
	begin
		INSERT INTO DM_KHACHHANG_DIACHI
		VALUES (@maDiaChi,@maKhach,@diaChi,@danhDauMacDinh,@tenNguoiNhan,@sdtNguoiNhan)
	end

	if(@flag = 3) -- change default customer Address
	begin
		update DM_KHACHHANG_DIACHI
		set MACDINH = @danhDauMacDinh
		where 
		DM_KHACHHANG_DIACHI.MAKHACHHANG = @maKhach and DM_KHACHHANG_DIACHI.MADIACHI = @maDiaChi

		update DM_KHACHHANG_DIACHI
		set MACDINH = 0
		where DM_KHACHHANG_DIACHI.MAKHACHHANG = @maKhach and not DM_KHACHHANG_DIACHI.MADIACHI = @maDiaChi
	end

	if(@flag = 4) -- update order status
	begin
		update DM_DONHANG
		set MATRANGTHAI = 1
		where 
		DM_DONHANG.MADONHANG = @maDon and DM_DONHANG.MAKHACHHANG = @maKhach

		update DM_DONHANG
		set MADIACHI = @maDiaChi
		where 
		DM_DONHANG.MADONHANG = @maDon and DM_DONHANG.MAKHACHHANG = @maKhach
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DANGNHAP]
	@flag int = null,
	@ten nvarchar(100) = null,
	@matkhau nvarchar(100) = null
AS
BEGIN
	IF(@flag = 1)
	BEGIN
		SELECT *,kh.MAKHACHHANG FROM DM_TAIKHOAN tk
		LEFT JOIN DM_KHACHHANG kh on kh.TENDANGNHAP = tk.TENDANGNHAP
		WHERE tk.TENDANGNHAP = @ten AND tk.MATKHAU = @matkhau
		
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GIOHANG]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GIOHANG]
	@flag int = null,
	@maDonHang nvarchar(100) = null,
	@maSanPham nvarchar(100) = null,
	@maChiTietDonHang nvarchar(100) =null,
	@soLuong float = null,
	@thanhTien float = null,
	@mau nvarchar(100) = null,
	@size nvarchar(100) =null,
	@maKhach nvarchar(100) = null
AS
BEGIN
	if(@flag = 1) -- tao ma don hang moi
	begin
		DECLARE @MA INT = NULL
		SET @MA	=  (SELECT MAX(CAST (MADONHANG AS INT))+1 FROM DM_DONHANG )
		
		
		DECLARE @MA2 NVARCHAR = NULL
		SET @MA2 = CAST(@MA AS NVARCHAR)
		--WHILE( LEN(@MA2) < 6)
		--BEGIN
			
		--END
	end

	if(@flag = 2) -- load ChiTietDonHang by MaDonHang and MaKhach from session 
	begin
		select * from DM_DONHANG_CHITIET bangChiTietDonHang
		left join DM_DONHANG bangDonHang on bangDonHang.MADONHANG = bangChiTietDonHang.MADONHANG
		where bangChiTietDonHang.MADONHANG = @maDonHang and bangDonHang.MAKHACHHANG = @maKhach
		and bangDonHang.MATRANGTHAI=0
	end

	if(@flag = 3) -- lay ma nhom theo ma san pham
	begin 
		select * from DM_SANPHAM
		where DM_SANPHAM.MASANPHAM = @maSanPham
	end

	if(@flag = 4) -- update orderDetail
	begin
		update DM_DONHANG_CHITIET 
		set SOLUONG = @soLuong, THANHTIEN = @thanhTien
		where 
		DM_DONHANG_CHITIET.MADONHANG = @maDonHang and DM_DONHANG_CHITIET.MACHITIETDONHANG = @maChiTietDonHang
		and DM_DONHANG_CHITIET.MAU = @mau and DM_DONHANG_CHITIET.SIZE = @size 
		and DM_DONHANG_CHITIET.MASANPHAM = @maSanPham
	end

	if(@flag = 5) -- delete orderDetail 
	begin
		delete from DM_DONHANG_CHITIET
		where 
		DM_DONHANG_CHITIET.MADONHANG = @maDonHang and DM_DONHANG_CHITIET.MACHITIETDONHANG = @maChiTietDonHang
		and DM_DONHANG_CHITIET.MAU = @mau and DM_DONHANG_CHITIET.SIZE = @size 
		and DM_DONHANG_CHITIET.MASANPHAM = @maSanPham
	end

	if(@flag = 6) -- get total money from all orderDetails have same orderCode and update to Order
	begin
		update DM_DONHANG
		set TONGTIEN = (
		SELECT SUM(THANHTIEN)
		FROM DM_DONHANG_CHITIET
		WHERE DM_DONHANG_CHITIET.MADONHANG = @maDonHang)
		where DM_DONHANG.MADONHANG = @maDonHang
	end

	if(@flag =7)
	begin
		select * from DM_KHACHHANG_DIACHI 
		where DM_KHACHHANG_DIACHI.MAKHACHHANG = @maKhach
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HOMEPAGE]    Script Date: Wednesday, 31, 10, 2018 09:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_HOMEPAGE]
	@flag int = null,
	@manhom nvarchar(100) = null,
	@session nvarchar(100) = null,
	
	@madonhang nvarchar(100) = null,
	@makhach nvarchar(100) = null,
	@masanpham nvarchar(100) = null,
	@soluong float = null,
	@size nvarchar(100) = null,
	@mau nvarchar(100) = null,
	@muihuong nvarchar(100) = null,
	@dungtich nvarchar(100) = null,
	@text nvarchar(100) = null
AS
BEGIN
	if(@flag = 1) -- hien thi danh sach san pham theo nhom
	begin
		--DECLARE @MA INT = NULL
		--SET @MA	=  (SELECT MAX(CAST (MADONHANG AS INT))+1 FROM DM_DONHANG )
		
		
		--DECLARE @MA2 NVARCHAR = NULL
		--SET @MA2 = CAST(@MA AS NVARCHAR)
		----WHILE( LEN(@MA2) < 6)
		----BEGIN
			
		----END
		if(@manhom <> '')
		begin
		SELECT * FROM DM_SANPHAM_CHITIET WHERE MASANPHAM in 
		(SELECT MASANPHAM FROM DM_SANPHAM WHERE MANHOM = @manhom )
		end
		else
		begin
			SELECT * FROM DM_SANPHAM_CHITIET WHERE MASANPHAM in 
			(SELECT MASANPHAM FROM DM_SANPHAM WHERE TENSANPHAM like '%'+@text+'%' OR MOTA like '%'+@text+'%')
		end

	end
	else if(@flag = 2) -- lay so luong gio hang theo ma don hang(session)
	begin
		SELECT SUM(dhct.SOLUONG)AS SOLUONG FROM DM_DONHANG_CHITIET dhct
		LEFT JOIN DM_DONHANG dh on dh.MADONHANG = dhct.MADONHANG
		WHERE dh.MATRANGTHAI = '0' AND dh.MADONHANG = @session AND MAKHACHHANG = @makhach
	end
	else if(@flag =3) -- tao madonhang
	begin
		DECLARE @MA NVARCHAR(100) 
		SET @MA =  ISNULL(CAST((SELECT MAX(MADONHANG)+1 FROM DM_DONHANG where CONVERT(NVARCHAR, NGAYLAP,112) = CONVERT(NVARCHAR, GETDATE(),112)) AS NVARCHAR),CONVERT(nvarchar,getdate(),112) +'1')
		SELECT @MA AS MADONHANG
	end
	
	else if(@flag = 4) -- tao chi tiet don hang
	begin
			DECLARE @GIA FLOAT 
			DECLARE @TEN NVARCHAR(100)
		if not exists (select * from DM_DONHANG where MADONHANG = @madonhang and MAKHACHHANG = @makhach)
		begin
			
			SET @GIA = (SELECT GIA1 FROM DM_SANPHAM_CHITIET WHERE MASANPHAM = @masanpham
			AND SIZE = @size AND MAU = @mau AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich)
			
			SET @TEN = (SELECT TENSANPHAM FROM DM_SANPHAM_CHITIET WHERE MASANPHAM = @masanpham
			AND SIZE = @size AND MAU = @mau  AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich )
			
			insert into DM_DONHANG(MADONHANG,MAKHACHHANG,NGAYLAP,MATRANGTHAI,MAXACNHAN,TONGTIEN,MAHINHTHUCTHANHTOAN)
			values(@madonhang,@makhach,GETDATE(),'0','0',0,1)
			
			insert into DM_DONHANG_CHITIET(MADONHANG,MACHITIETDONHANG,
			MASANPHAM,TENSANPHAM,SOLUONG,DONGIA,THANHTIEN,SIZE,MAU,DUNGTICH,LOAI,SALE,MUIHUONG)
			
			values(@madonhang,'CT'+@madonhang,@masanpham,@TEN,1,@GIA,1*@GIA,@size,@mau,
			@dungtich,'',0,@muihuong)
			
			update DM_DONHANG set TONGTIEN = (SELECT SUM(THANHTIEN) FROM DM_DONHANG_CHITIET
			WHERE MADONHANG = @madonhang) WHERE MADONHANG = @madonhang and MAKHACHHANG = @makhach
		end
		else
		begin
			
			SET @GIA = (SELECT GIA1 FROM DM_SANPHAM_CHITIET WHERE MASANPHAM = @masanpham
			AND SIZE = @size AND MAU = @mau AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich)
			
			SET @TEN = (SELECT TENSANPHAM FROM DM_SANPHAM_CHITIET WHERE MASANPHAM = @masanpham
			AND SIZE = @size AND MAU = @mau AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich   )
			
			if not exists (select * from DM_DONHANG_CHITIET where MADONHANG = @madonhang
			and MASANPHAM =@masanpham and SIZE =@size and MAU = @mau AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich)
			begin
			insert into DM_DONHANG_CHITIET(MADONHANG,MACHITIETDONHANG,
			MASANPHAM,TENSANPHAM,SOLUONG,DONGIA,THANHTIEN,SIZE,MAU,DUNGTICH,LOAI,SALE,MUIHUONG)
			
			values(@madonhang,'CT'+@madonhang,@masanpham,@TEN,1,@GIA,1*@GIA,@size,@mau,
			@dungtich,'',0,@muihuong)
			end
			else
			begin
				update DM_DONHANG_CHITIET
				set SOLUONG = @soluong,
				THANHTIEN =@soluong * DONGIA
				WHERE MADONHANG = @madonhang
			and MASANPHAM =@masanpham and SIZE =@size and MAU = @mau AND MUIHUONG = @muihuong AND DUNGTICH = @dungtich
			end
			
			update DM_DONHANG set TONGTIEN = (SELECT SUM(THANHTIEN) FROM DM_DONHANG_CHITIET
			WHERE MADONHANG = @madonhang) WHERE MADONHANG = @madonhang and MAKHACHHANG = @makhach
			
			
		end
		
	end
	else if(@flag = 5)
	begin
		select MAU FROM DM_SANPHAM_CHITIET WHERE MASANPHAM = @masanpham and SIZE = @size
	end
	else if(@flag = 6) -- get detail of product from product id
	begin
		select * from DM_SANPHAM_CHITIET where MASANPHAM = @masanpham
	end
	else if(@flag = 7)
	begin
		select TENNHOM, th.TENTHUONGHIEU,sp.MOTA from DM_SANPHAM_NHOM nsp
		left join DM_SANPHAM sp on sp.MANHOM = nsp.MANHOM
		left join DM_THUONGHIEU th on th.MATHUONGHIEU = sp.MATHUONGHIEU
		where sp.MASANPHAM = @masanpham
	end
END
GO
USE [master]
GO
